<?xml version="1.0" encoding="UTF-8"?> 
<StandardLDA>
	<config>
		<alpha>0.5</alpha>
		<beta>0.3</beta>
	   <K>100</K>
	   <iters>300</iters>
	   <top>30</top>
	   <SaveStart>100</SaveStart>
	   <SaveInterval>50</SaveInterval>
	   <CorpusPath>D:\dependencyjar\SogouC.reduced.20061102\seg\seg.txt</CorpusPath>
	   <OutputDir>Model</OutputDir>
	</config>
</StandardLDA>